body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  padding: 0;
  margin: 0; }

#container {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 80vw;
  background: #fff;
  margin: 40px auto 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative; } 
.right { max-width:40vw; float: right;}
.left { max-width: 40vw;}
#container .block {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 30px 40px 24px;
  text-align: center; }
#container .block a.main {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 2px 2px;
  margin-right: 12px;
  margin-bottom: 6px; }
#container .block a.main:last-of-type {
  margin-right: 0; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: 30px 60px;
  margin: auto; }

.contentpic {max-width:45%;}

a, .as-link {
  text-decoration: none;
  color: #269;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
